@model IEnumerable<SchoolFee.Models.Expense>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseTypes.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExpenseTypes.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpenseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EId })
        </td>
    </tr>
}

</table>
