@model IEnumerable<SchoolManagement.Models.FeeModule>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SchoolClasses.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnnualCharges)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolClasses.ClassName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnnualCharges)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FID })
        </td>
    </tr>
}

</table>
