@model IEnumerable<SchoolManagement.Models.FeeStructure>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdmissionFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransportFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnnualCharges)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherCharges)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Session)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdmissionFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransportFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnnualCharges)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherCharges)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Session)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FeeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FeeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FeeID })
        </td>
    </tr>
}

</table>
